/* Styles General of Navbar */
.navbar {
    background: linear-gradient(135deg, #00ABE4, #2272FF); /* Azul brillante a azul neón */
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Navbar */
.navbar-menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Style for links */
.navbar-menu li a {
    color: #FFFFFF; /* Blanco */
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

/* Ícons FontAwesome */
.navbar-menu li a i {
    font-size: 20px;
}

/* Effect hover */
.navbar-menu li a:hover {
    background: #E9F1FA; /* Azul claro */
    color: #2272FF;      /* Azul neón para contraste */
    transform: translateY(-2px);
}

/* Responsivo */
@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}
